@import 'home';

html,
body {
  overflow-x: hidden;
}


@media (max-width: 767px) {
  html,
  body {
    h2 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 20px;
      margin-top: 8px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media (min-width: 991px) {

}