$azul-claro: #CCE4E2;
$cinza-creditos: #cbc8c8;
$azul-escuro: #4A7B95;
$rosa-escuro:  #FF7595;
$rosa-claro: #FFB5C8;
$cinza-claro: #ededed;
$cinza-escuro: #2F2D2D;
$rosa-fundo: rgb(250, 215, 223);

$cinza-footer: rgba(204, 228, 226, 0.699);
$verde: #13BBB3;
$fonte-fantasia: "i_miss_your_kissregular", "roboto", sans-serif;
$fonte-padrao: "roboto", 'Montserrat', sans-serif;

* {
   font-family: $fonte-padrao;
}

// NAV
html,
body{
    overflow-x: hidden;
    .navbar {
    text-transform: uppercase;
    background-color:$azul-claro;
    }

    h2 {
        font-family: $fonte-fantasia;
        font-size: 45px;
        padding: 10px 0;
        color: $azul-claro;
    }
    
    p {
        font-family: $fonte-padrao;
        text-align: justify;
    }

// HEADER
    header {
        margin-top: 80px;
        .header-home {
            background: url(../img/banner-teste.jpg);
            min-height: 500px;
            background-attachment: fixed;
            background-position: top;
            top: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.6;

            h1 {
                font-family: $fonte-fantasia;
                padding-top: 260px;
                padding-left: 290px;
                font-size: 70px;
                text-align: left;
            }
        
            h2 {
                font-family: $fonte-padrao;
                padding: 180px 0;
                padding-left: 290px;
                font-size: 30px;
                text-align: left;
                margin: 0;
            }
        }
    }

// HISTORIA

.historia {
    background-color: $rosa-fundo;
}

// TIME CRIATIVO

    .timeCriativo {
        background-color: $azul-escuro;
        .timeCriativoContainer {
            .card {
                border: none;
                background: transparent;
                padding-bottom: 30px;

                .card-body {
                    background-color: $rosa-fundo;
                    border-radius: 20px;
                    margin: 30px;

                    img {
                        padding-top: 20px;
                    }

                    p {
                        color: $azul-escuro;
                    }
                    .card-text {
                        padding-top: 50px;
                    }

                    .card-footer {
                        background-color: $rosa-fundo;
                        border: 0;

                        a {
                            text-decoration: none;
                            color: $azul-escuro; 
                        }

                        .botao-time {
                            border-radius: 20px;
                            background-color: $rosa-claro;
                            font: white;
                            padding: 18px;
                            width: 300px;
                            border: 0;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-style: none;
                    
                        }
                    }
                }
            }

            h2 {
                text-align: center;
                padding-top: 20px;
            }
        }
    }


// REDES SOCIAIS
    .redesSociais {
        background-color: $rosa-fundo;

        h2 {
            text-align: center;
            padding: 15px;
        }
    }

    // FOOTER
    .icone {
        width: 34px;
        height: 23px;
        padding: 0 5px;
    }

    footer {
        background-color: $azul-claro;
        font-family: $fonte-padrao;
        padding: 26px 0;
        #footerMaior {
            .linhaEspacada {
                margin: 0;
            }
        }
    }

    .pFooter {
        text-align: center;
        p {
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 0;
        }
    }



.linhaEspacada {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

    #creditosSite {
        background-color: $cinza-creditos;
        color: $cinza-escuro;
        padding: 15px 0;

        #copyRight {
            justify-content: center;

            p {
                margin-bottom: 0;
                font-size: 12px;
                a {
                   color: #7d459a;
                }

            }
        }
    }
}

@media (min-width: 300px) {
    .fundoVerde {
        .diferenciaisContainer {
            margin: 0;
            .diferenciaisRow {
                margin: 0 -50px;
                .diferenciaisCol {
                    padding: 0 15px;
                    .diferenciaisCard {
                        margin: 0;
                        padding: 0;
                        .cardAmarelo{
                            margin: 0 0 30px 0;
                            padding: 0 10px 15px 10px;
                        }
                    }
                }
            }
        }
    }
}

// @media (min-width: 320px) {
//     html,
//     body {
//         header {
//             .header-home {
//                 .headerDescricao {
//                     height: 227px;
//                 }
//             } 
//         }  
//     } 
// } 

@media (max-width: 508px) {
    html,
    body {
        header {
            .header-home {
                .headerDescricao {
                    height: 227px;
                }
            } 
        }  
    } 
} 

@media (max-width: 990px) {
    .logo {
        margin-bottom: 15px;
    }
    #colunaIcones {
        padding-top: 1.5rem;
    }
}

  
@media (max-width: 500px) {
    .link_whatsapp{
        display: none;
    }
}