#headerQuemSomos {
    .carousel-inner {
        color: black;
        font-family:  $fonte-fantasia;
    }
}


.linhaEspacada {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

// MEDIA QUERIES

@media (max-width: 720px) {

}