// #headerQuemSomos {
//     .carousel-inner {
//         color: black;
//         font-family:  $fonte-fantasia;
//     }
// }

body {
    #headerQuadros {
        .carousel-item {
            img {
                height: 77vh;
                object-fit: cover;
                overflow: hidden;
                width: 100%;
            }
        }
    }

    // GRID
    #gridQuadros {
        background-color: $azul-escuro;
        margin: 0;

        .container {
            // background-color: $azul-escuro;
            // margin: 0;
        }
        
        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
    }

    // FOOTER
    .linhaEspacada {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
}