* {
  font-family: "roboto", "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
html .navbar,
body .navbar {
  text-transform: uppercase;
  background-color: #CCE4E2;
}
html h2,
body h2 {
  font-family: "i_miss_your_kissregular", "roboto", sans-serif;
  font-size: 45px;
  padding: 10px 0;
  color: #CCE4E2;
}
html p,
body p {
  font-family: "roboto", "Montserrat", sans-serif;
  text-align: justify;
}
html header,
body header {
  margin-top: 80px;
}
html header .header-home,
body header .header-home {
  background: url(../img/banner-teste.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
html header .header-home h1,
body header .header-home h1 {
  font-family: "i_miss_your_kissregular", "roboto", sans-serif;
  padding-top: 260px;
  padding-left: 290px;
  font-size: 70px;
  text-align: left;
}
html header .header-home h2,
body header .header-home h2 {
  font-family: "roboto", "Montserrat", sans-serif;
  padding: 180px 0;
  padding-left: 290px;
  font-size: 30px;
  text-align: left;
  margin: 0;
  color: inherit;
}
html .historia,
body .historia {
  background-color: #fad7df;
}
html .historia h2, html .historia p,
body .historia h2,
body .historia p {
  color: #4A7B95;
}
html .timeCriativo,
body .timeCriativo {
  background-color: #4A7B95;
}
html .timeCriativo .timeCriativoContainer .card,
body .timeCriativo .timeCriativoContainer .card {
  border: none;
  background: transparent;
  padding-bottom: 30px;
}
html .timeCriativo .timeCriativoContainer .card .card-body,
body .timeCriativo .timeCriativoContainer .card .card-body {
  background-color: #fad7df;
  border-radius: 20px;
  margin: 30px;
}
html .timeCriativo .timeCriativoContainer .card .card-body img,
body .timeCriativo .timeCriativoContainer .card .card-body img {
  padding-top: 20px;
}
html .timeCriativo .timeCriativoContainer .card .card-body p,
body .timeCriativo .timeCriativoContainer .card .card-body p {
  color: #4A7B95;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-text,
body .timeCriativo .timeCriativoContainer .card .card-body .card-text {
  padding-top: 50px;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-footer,
body .timeCriativo .timeCriativoContainer .card .card-body .card-footer {
  background-color: #fad7df;
  border: 0;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-footer a,
body .timeCriativo .timeCriativoContainer .card .card-body .card-footer a {
  text-decoration: none;
  color: #4A7B95;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-footer .botao-time,
body .timeCriativo .timeCriativoContainer .card .card-body .card-footer .botao-time {
  border-radius: 20px;
  background-color: #FFB5C8;
  font: white;
  padding: 18px;
  width: 300px;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-style: none;
}
html .timeCriativo .timeCriativoContainer h2,
body .timeCriativo .timeCriativoContainer h2 {
  text-align: center;
  padding-top: 20px;
}
html .redesSociais,
body .redesSociais {
  background-color: #fad7df;
}
html .redesSociais h2,
body .redesSociais h2 {
  text-align: center;
  padding: 15px;
  color: #4A7B95;
}
html .icone,
body .icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}
html footer,
body footer {
  background-color: #CCE4E2;
  font-family: "roboto", "Montserrat", sans-serif;
  padding: 26px 0;
}
html footer #footerMaior .linhaEspacada,
body footer #footerMaior .linhaEspacada {
  margin: 0;
}
html .pFooter,
body .pFooter {
  text-align: center;
}
html .pFooter p,
body .pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}
html .linhaEspacada,
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
html #creditosSite,
body #creditosSite {
  background-color: #cbc8c8;
  color: #7a7c7f;
  padding: 15px 0;
}
html #creditosSite #copyRight,
body #creditosSite #copyRight {
  justify-content: center;
}
html #creditosSite #copyRight p,
body #creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}
html #creditosSite #copyRight p a,
body #creditosSite #copyRight p a {
  color: #7d459a;
}

@media (min-width: 300px) {
  .fundoVerde .diferenciaisContainer {
    margin: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow {
    margin: 0 -50px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol {
    padding: 0 15px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard {
    margin: 0;
    padding: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard .cardAmarelo {
    margin: 0 0 30px 0;
    padding: 0 10px 15px 10px;
  }
}
@media (max-width: 508px) {
  html header .header-home .headerDescricao,
body header .header-home .headerDescricao {
    height: 227px;
  }
}
@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }

  #colunaIcones {
    padding-top: 1.5rem;
  }
}
@media (max-width: 500px) {
  .link_whatsapp {
    display: none;
  }
}
* {
  font-family: "roboto", "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
html .navbar,
body .navbar {
  text-transform: uppercase;
  background-color: #CCE4E2;
}
html h2,
body h2 {
  font-family: "i_miss_your_kissregular", "roboto", sans-serif;
  font-size: 45px;
  padding: 10px 0;
  color: #CCE4E2;
}
html p,
body p {
  font-family: "roboto", "Montserrat", sans-serif;
  text-align: justify;
}
html header,
body header {
  margin-top: 80px;
}
html header .header-home,
body header .header-home {
  background: url(../img/banner-teste.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
html header .header-home h1,
body header .header-home h1 {
  font-family: "i_miss_your_kissregular", "roboto", sans-serif;
  padding-top: 260px;
  padding-left: 290px;
  font-size: 70px;
  text-align: left;
}
html header .header-home h2,
body header .header-home h2 {
  font-family: "roboto", "Montserrat", sans-serif;
  padding: 180px 0;
  padding-left: 290px;
  font-size: 30px;
  text-align: left;
  margin: 0;
  color: inherit;
}
html .historia,
body .historia {
  background-color: #fad7df;
}
html .historia h2, html .historia p,
body .historia h2,
body .historia p {
  color: #4A7B95;
}
html .timeCriativo,
body .timeCriativo {
  background-color: #4A7B95;
}
html .timeCriativo .timeCriativoContainer .card,
body .timeCriativo .timeCriativoContainer .card {
  border: none;
  background: transparent;
  padding-bottom: 30px;
}
html .timeCriativo .timeCriativoContainer .card .card-body,
body .timeCriativo .timeCriativoContainer .card .card-body {
  background-color: #fad7df;
  border-radius: 20px;
  margin: 30px;
}
html .timeCriativo .timeCriativoContainer .card .card-body img,
body .timeCriativo .timeCriativoContainer .card .card-body img {
  padding-top: 20px;
}
html .timeCriativo .timeCriativoContainer .card .card-body p,
body .timeCriativo .timeCriativoContainer .card .card-body p {
  color: #4A7B95;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-text,
body .timeCriativo .timeCriativoContainer .card .card-body .card-text {
  padding-top: 50px;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-footer,
body .timeCriativo .timeCriativoContainer .card .card-body .card-footer {
  background-color: #fad7df;
  border: 0;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-footer a,
body .timeCriativo .timeCriativoContainer .card .card-body .card-footer a {
  text-decoration: none;
  color: #4A7B95;
}
html .timeCriativo .timeCriativoContainer .card .card-body .card-footer .botao-time,
body .timeCriativo .timeCriativoContainer .card .card-body .card-footer .botao-time {
  border-radius: 20px;
  background-color: #FFB5C8;
  font: white;
  padding: 18px;
  width: 300px;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-style: none;
}
html .timeCriativo .timeCriativoContainer h2,
body .timeCriativo .timeCriativoContainer h2 {
  text-align: center;
  padding-top: 20px;
}
html .redesSociais,
body .redesSociais {
  background-color: #fad7df;
}
html .redesSociais h2,
body .redesSociais h2 {
  text-align: center;
  padding: 15px;
  color: #4A7B95;
}
html .icone,
body .icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}
html footer,
body footer {
  background-color: #CCE4E2;
  font-family: "roboto", "Montserrat", sans-serif;
  padding: 26px 0;
}
html footer #footerMaior .linhaEspacada,
body footer #footerMaior .linhaEspacada {
  margin: 0;
}
html .pFooter,
body .pFooter {
  text-align: center;
}
html .pFooter p,
body .pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}
html .linhaEspacada,
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
html #creditosSite,
body #creditosSite {
  background-color: #cbc8c8;
  color: #7a7c7f;
  padding: 15px 0;
}
html #creditosSite #copyRight,
body #creditosSite #copyRight {
  justify-content: center;
}
html #creditosSite #copyRight p,
body #creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}
html #creditosSite #copyRight p a,
body #creditosSite #copyRight p a {
  color: #7d459a;
}

@media (min-width: 300px) {
  .fundoVerde .diferenciaisContainer {
    margin: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow {
    margin: 0 -50px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol {
    padding: 0 15px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard {
    margin: 0;
    padding: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard .cardAmarelo {
    margin: 0 0 30px 0;
    padding: 0 10px 15px 10px;
  }
}
@media (max-width: 508px) {
  html header .header-home .headerDescricao,
body header .header-home .headerDescricao {
    height: 227px;
  }
}
@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }

  #colunaIcones {
    padding-top: 1.5rem;
  }
}
@media (max-width: 500px) {
  .link_whatsapp {
    display: none;
  }
}
html,
body {
  overflow-x: hidden;
}
html .row h2,
body .row h2 {
  color: #4A7B95;
}

.containerOverlayFestas:hover .image {
  opacity: 0.3;
}

.containerOverlayFestas:hover .middle {
  opacity: 1;
}

@media (max-width: 767px) {
  html h2,
body h2 {
    font-size: 1.5rem;
  }
  html h4,
body h4 {
    font-size: 20px;
    margin-top: 8px;
  }
  html p,
body p {
    font-size: 13px;
  }
}
body #headerQuadros .carousel-item img {
  height: 75vh;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}
body #gridQuadros {
  background-color: #4A7B95;
  margin: 0;
}
body #gridQuadros .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

body #headerEncadernacao {
  margin-top: 0;
}
body #headerEncadernacao #banner {
  margin: 0;
  width: 100%;
}
body #headerEncadernacao #banner .carousel-item img {
  height: 75vh;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}
body .carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
body .fundoAzul {
  background-color: #4A7B95;
}
body #gridEncadernacoes {
  background-color: #4A7B95;
  margin: 0;
}

@media (max-width: 991px) {
  body #headerEncadernacao #banner .carousel-item img {
    height: 65vh;
  }
}

/*# sourceMappingURL=style.css.map */
