* {
  font-family: "roboto", "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html .navbar,
body .navbar {
  text-transform: uppercase;
  background-color: #CCE4E2;
}

html header,
body header {
  margin-top: 80px;
}

html header .header-home,
body header .header-home {
  background: url(../img/banner-teste.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

html .icone,
body .icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

html footer,
body footer {
  background-color: #cbc8c8;
  font-family: "roboto", "Montserrat", sans-serif;
  padding: 26px 0;
}

html footer #footerMaior .linhaEspacada,
body footer #footerMaior .linhaEspacada {
  margin: 0;
}

html .pFooter,
body .pFooter {
  text-align: center;
}

html .pFooter p,
body .pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

html .linhaEspacada,
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

html #creditosSite,
body #creditosSite {
  background-color: rgba(204, 228, 226, 0.699);
  color: #2F2D2D;
  padding: 15px 0;
}

html #creditosSite #copyRight,
body #creditosSite #copyRight {
  justify-content: center;
}

html #creditosSite #copyRight p,
body #creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

html #creditosSite #copyRight p a,
body #creditosSite #copyRight p a {
  color: #7d459a;
}

@media (min-width: 300px) {
  .fundoVerde .diferenciaisContainer {
    margin: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow {
    margin: 0 -50px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol {
    padding: 0 15px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard {
    margin: 0;
    padding: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard .cardAmarelo {
    margin: 0 0 30px 0;
    padding: 0 10px 15px 10px;
  }
}

@media (max-width: 508px) {
  html header .header-home .headerDescricao,
  body header .header-home .headerDescricao {
    height: 227px;
  }
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }
  #colunaIcones {
    padding-top: 1.5rem;
  }
}

#whats_botao {
  background-color: rgba(74, 123, 149, 0.9);
  width: 12%;
  text-align: center;
  font-family: "roboto", "Montserrat", sans-serif;
  margin-left: 80%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 8px;
}

@media (max-width: 1000px) {
  #whats_botao {
    display: none;
  }
}

@media (max-width: 500px) {
  .link_whatsapp {
    display: none;
  }
}

* {
  font-family: "roboto", "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html .navbar,
body .navbar {
  text-transform: uppercase;
  background-color: #CCE4E2;
}

html header,
body header {
  margin-top: 80px;
}

html header .header-home,
body header .header-home {
  background: url(../img/banner-teste.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

html .icone,
body .icone {
  width: 34px;
  height: 23px;
  padding: 0 5px;
}

html footer,
body footer {
  background-color: #cbc8c8;
  font-family: "roboto", "Montserrat", sans-serif;
  padding: 26px 0;
}

html footer #footerMaior .linhaEspacada,
body footer #footerMaior .linhaEspacada {
  margin: 0;
}

html .pFooter,
body .pFooter {
  text-align: center;
}

html .pFooter p,
body .pFooter p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
}

html .linhaEspacada,
body .linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

html #creditosSite,
body #creditosSite {
  background-color: rgba(204, 228, 226, 0.699);
  color: #2F2D2D;
  padding: 15px 0;
}

html #creditosSite #copyRight,
body #creditosSite #copyRight {
  justify-content: center;
}

html #creditosSite #copyRight p,
body #creditosSite #copyRight p {
  margin-bottom: 0;
  font-size: 12px;
}

html #creditosSite #copyRight p a,
body #creditosSite #copyRight p a {
  color: #7d459a;
}

@media (min-width: 300px) {
  .fundoVerde .diferenciaisContainer {
    margin: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow {
    margin: 0 -50px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol {
    padding: 0 15px;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard {
    margin: 0;
    padding: 0;
  }
  .fundoVerde .diferenciaisContainer .diferenciaisRow .diferenciaisCol .diferenciaisCard .cardAmarelo {
    margin: 0 0 30px 0;
    padding: 0 10px 15px 10px;
  }
}

@media (max-width: 508px) {
  html header .header-home .headerDescricao,
  body header .header-home .headerDescricao {
    height: 227px;
  }
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 15px;
  }
  #colunaIcones {
    padding-top: 1.5rem;
  }
}

#whats_botao {
  background-color: rgba(74, 123, 149, 0.9);
  width: 12%;
  text-align: center;
  font-family: "roboto", "Montserrat", sans-serif;
  margin-left: 80%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 8px;
}

@media (max-width: 1000px) {
  #whats_botao {
    display: none;
  }
}

@media (max-width: 500px) {
  .link_whatsapp {
    display: none;
  }
}

html,
body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  html h2,
  body h2 {
    font-size: 1.5rem;
  }
  html h4,
  body h4 {
    font-size: 20px;
    margin-top: 8px;
  }
  html p,
  body p {
    font-size: 13px;
  }
}

.linhaEspacada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.containerOverlay:hover .image {
  opacity: 0.3;
}

.containerOverlay:hover .middle {
  opacity: 1;
}

body #headerEncadernacao {
  margin-top: 0;
}

body #headerEncadernacao #banner {
  margin: 0;
  width: 100%;
}

body #headerEncadernacao #banner .carousel-item img {
  height: 75vh;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

body .carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}

@media (max-width: 991px) {
  body #headerEncadernacao #banner .carousel-item img {
    height: 65vh;
  }
}
/*# sourceMappingURL=style.css.map */